In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("all_courses.csv")
df.shape

(267, 11)

In [3]:
df.head(5)

,Title,Type,Description,Level,Duration,Rating,Review Count,Skills Covered,Prerequisites,Affiliates,URL
0,Data Engineering with AWS,nanodegree,"Learn to design data models, build data wareho...",intermediate,4 Months,4.6,1802.0,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",NaN,https://www.udacity.com/course/data-engineer-n...
1,Product Manager,nanodegree,Envision and execute the development of indust...,beginner,4 Months,4.7,864.0,"Product Strategy, Product Design, Product Deve...",No Experience Required,NaN,https://www.udacity.com/course/product-manager...
2,C++,nanodegree,Get hands-on experience building five real-wor...,intermediate,4 Months,4.5,1126.0,"Data Structures & Algorithms, Memory Managemen...",Intermediate Programming,NaN,https://www.udacity.com/course/c-plus-plus-nan...
3,Business Analytics,nanodegree,Gain foundational data skills like analyzing d...,beginner,3 Months,4.8,2649.0,"Excel & Spreadsheets, SQL, Data Visualization,...",NaN,Mode,https://www.udacity.com/course/business-analyt...
4,Data Scientist,nanodegree,"Build effective machine learning models, run d...",advanced,4 Months,4.7,1212.0,"Machine Learning, Deep Learning, Software Engi...","Python, SQL & Statistics","Bertelsmann, Figure Eight, IBM Watson, Insight...",https://www.udacity.com/course/data-scientist-...

In [4]:
df.describe()

          Rating  Review Count
count  62.000000     62.000000
mean    4.595161    714.887097
std     0.123378    856.714006
min     4.300000     50.000000
25%     4.500000    151.000000
50%     4.600000    359.000000
75%     4.700000    849.000000
max     4.800000   3865.000000

In [5]:
# List the column names in your DataFrame
column_names = df.columns
print(column_names)

Index(['Title', 'Type', 'Description', 'Level', 'Duration', 'Rating',
       'Review Count', 'Skills Covered', 'Prerequisites', 'Affiliates', 'URL'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           267 non-null    object
 1   Type            267 non-null    object
 2   Description     261 non-null    object
 3   Level           265 non-null    object
 4   Duration        263 non-null    object
 5   Rating          62 non-null     float64
 6   Review Count    62 non-null     float64
 7   Skills Covered  267 non-null    object
 8   Prerequisites   77 non-null     object
 9   Affiliates      138 non-null    object
 10  URL             267 non-null    object
dtypes: float64(2), object(9)
memory usage: 23.1+ KB

In [7]:
df.isnull().sum()

Title               0
Type                0
Description         6
Level               2
Duration            4
Rating            205
Review Count      205
Skills Covered      0
Prerequisites     190
Affiliates        129
URL                 0
dtype: int64

## Data Cleaning

In [8]:
# Remove duplicate rows
df = df.drop_duplicates()

In [9]:
df['Description'].fillna('Not provided', inplace=True)
df.loc[df['Prerequisites'] == True, 'Prerequisites'].fillna('None', inplace=True)

In [10]:

df['Level'].fillna(df['Level'].mode()[0], inplace=True)
df['Skills Covered'].fillna(df['Skills Covered'].mode()[0], inplace=True)

In [11]:
print(df.shape)

(267, 11)

In [12]:

df['Duration'] = pd.to_numeric(df['Duration'], errors='coerce')

df['Duration'].fillna(df['Duration'].mean(), inplace=True)

In [13]:

df['Review Count'].fillna(df['Review Count'].median(), inplace=True)
df['Rating'].fillna(df['Rating'].mean(), inplace=True)

In [14]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

##vectorization

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

# a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit and transform the course descriptions
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Description'])

# Converting TF-IDF matrix to a DataFrame
tfidf_df = pd.DataFrame(data=tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

In [16]:
import random

def split_data(df, train_ratio=0.8):

  # Shuffle df
  df = df.sample(frac=1)

  training_set = df[:int(len(df) * train_ratio)]
  testing_set = df[int(len(df) * train_ratio):]

  return training_set, testing_set


train_set, test_set = split_data(df)

print('Training set shape:', train_set.shape)
print('Testing set shape:', test_set.shape)

Training set shape: (213, 11)
Testing set shape: (54, 11)